body {
    font-family: Arial;
    /*background-image: url("./Dashboard\ Login.jpg");*/
    background-image: linear-gradient(45deg, rgb(29, 29, 223), hsl(207, 100%, 50%));
    
}

h3 {
    font-size: 30pt;
    color: rgb(255, 255, 255); 
    margin-left: 31%;
    
}

.centro {
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
    height: 650px;
    width: 1500px;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white;
    
}

.centro h1 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-top: 2%;
}
.centro h2 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 13%; 
    margin-top: -2.3%;
}
.centro h4 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 33%; 
    margin-top: -2.5%;
}

.centro h5 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 43%; 
    margin-top: -3.1%;
}
.centro h6 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 67%; 
    margin-top: -3.6%;
}
.centro p {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 82%; 
    margin-top: -4.3%;
}