*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    /*background-image: url("./Dashboard\ Login.jpg");*/
    background-color: rgb(243, 242, 240);
}

h3 {
    font-size: 30pt;
    color: rgb(255, 255, 255); 
    margin-left: 31%;
    
}

.centro {
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
    height: 650px;
    width: 1500px;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white;
    
}

.centro h1 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 3%;
    margin-top: 2%;
}
.centro h2 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 13%; 
    margin-top: -2.3%;
}
.centro h4 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 33%; 
    margin-top: -2.5%;
}

.centro h5 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 43%; 
    margin-top: -3.1%;
}
.centro h6 {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 67%; 
    margin-top: -3.6%;
}
.centro p {
    font-size: 14pt;
    color: rgb(255, 255, 255);
    margin-left: 82%; 
    margin-top: -4.3%;
}

caption{
    font-weight: 600;
}
.card-border-primary-subtle{
    display: flex;
    justify-items: center;
    align-items: center;
    
}
h1 {
    font-weight: 500;
    
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
}
.selectors-row{ 
    padding: 10px;
}
.resumo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
